<% wrap_layout :inner do %>
<% content_for :sidebar do %>
<div class="docs-sidebar hidden-print affix-top" role="complementary">
    <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-opsgenie-index") %>>
            <a href="/docs/providers/opsgenie/index.html">OpsGenie Provider</a>
        </li>
        <li<%= sidebar_current("docs-opsgenie-datasource") %>>
            <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-opsgenie-resource-user") %>>
                    <a href="/docs/providers/opsgenie/d/user.html">opsgenie_user</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-team") %>>
                    <a href="/docs/providers/opsgenie/d/team.html">opsgenie_team</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-heartbeat") %>>
                    <a href="/docs/providers/opsgenie/d/heartbeat.html">opsgenie_heartbeat</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-escalation") %>>
                    <a href="/docs/providers/opsgenie/d/escalation.html">opsgenie_escalation</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-schedule") %>>
                    <a href="/docs/providers/opsgenie/d/schedule.html">opsgenie_schedule</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-service") %>>
                    <a href="/docs/providers/opsgenie/d/service.html">opsgenie_service</a>
                </li>
            </ul>
        </li>
        <li<%= sidebar_current("docs-opsgenie-resource") %>>
            <a href="#">Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-opsgenie-resource-user") %>>
                    <a href="/docs/providers/opsgenie/r/user.html">opsgenie_user</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-user") %>>
                    <a href="/docs/providers/opsgenie/r/user_contact.html">opsgenie_user_contact</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-team") %>>
                    <a href="/docs/providers/opsgenie/r/team.html">opsgenie_team</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-team-routing-rule") %>>
                    <a href="/docs/providers/opsgenie/r/team_routing_rule.html">opsgenie_team_routing_rule</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-api-integration") %>>
                    <a href="/docs/providers/opsgenie/r/api_integration.html">opsgenie_api_integration</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-email-integration") %>>
                    <a href="/docs/providers/opsgenie/r/email_integration.html">opsgenie_email_integration</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-integration-action") %>>
                    <a href="/docs/providers/opsgenie/r/integration_action.html">opsgenie_integration_action</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-heartbeat") %>>
                    <a href="/docs/providers/opsgenie/r/heartbeat.html">opsgenie_heartbeat</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-escalation") %>>
                    <a href="/docs/providers/opsgenie/r/escalation.html">opsgenie_escalation</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-service") %>>
                    <a href="/docs/providers/opsgenie/r/service.html">opsgenie_service</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-service-incident-rule") %>>
                    <a href="/docs/providers/opsgenie/r/service_incident_rule.html">opsgenie_service_incident_rule</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-schedule") %>>
                    <a href="/docs/providers/opsgenie/r/schedule.html">opsgenie_schedule</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-schedule-rotation") %>>
                    <a href="/docs/providers/opsgenie/r/schedule_rotation.html">opsgenie_schedule_rotation</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-maintenance") %>>
                    <a href="/docs/providers/opsgenie/r/maintenance.html">opsgenie_maintenance</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-notification_policy") %>>
                    <a href="/docs/providers/opsgenie/r/notification_policy.html">opsgenie_notification_policy</a>
                </li>  
                <li<%= sidebar_current("docs-opsgenie-resource-notification-rule") %>>
                    <a href="/docs/providers/opsgenie/r/notification_rule.html">opsgenie_notification_rule</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-alert_policy") %>>
                    <a href="/docs/providers/opsgenie/r/alert_policy.html">opsgenie_alert_policy</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-incident-template") %>>
                    <a href="/docs/providers/opsgenie/r/incident_template.html">opsgenie_incident_template</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-custom-user-role") %>>
                    <a href="/docs/providers/opsgenie/r/custom_role.html">opsgenie_custom_role</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<% end %>

<%= yield %>
<% end %>
